<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <div class="container-sm text-center">
      <%- include("./partials/header.ejs") %>
      <p>I am the add page</p>
      <form action="/monster-mash/add" method="POST">
        <div class="mb-3">
          <label for="name" class="form-label">Name</label
          ><input type="text" name="name" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="location" class="form-label">Location</label
          ><input type="text" name="location" class="form-control" />
        </div>
        <div class="mb-3">
          <label for="hobby" class="form-label">Hobby</label>
          <input type="text" name="hobby" class="form-control" />
        </div>
        <div class="mb-3">
          <input
            type="submit"
            value="Add monster"
            class="btn btn-primary btn-large"
          />
        </div>
      </form>
      <br />
      <a href="/monster-mash">Back</a>
    </div>
  </body>
</html>
