<html>
  <%- include("./partials/head.ejs") %>
  <body>
    <%- include("./partials/header.ejs") %>
    <p>I am the password reset page</p>

    <p>a password reset link has been sent</p>
    <br />
    <a href="/monster-mash">Back</a>
  </body>
</html>
